body
{
    background-color: aquamarine;
}
img
{
    margin-top: 20px;
    margin-left: 250px;
    background-color: aquamarine;
}
.ram{
    padding: 20px;
    margin: 15px;
    border-radius: 66%;
}